.container {
  font-family: "Roboto", sans-serif;
  width: 1280px;
  margin: 0 auto;
}
.heder a {
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
  margin: 63px 0 38px 0;
}

.heder span {
  color: #4bcaff;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444f;
  height: 72px;
  margin: 0 0 48px 0;
}

.nav-list li {
  border: 1px solid #ffffff;
  padding: 26px 33px 19px 32px;
}

.nav-list li:hover {
  background-color: #222f3a;
}

.nav-list a {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 884px;
  height: 530px;
  border: 1px solid #000000;
  margin: 0 0 37px 52px;
}

.image img {
  transition: 0.5s;
}

.image img:hover {
  transform: scale(1.2);
}
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.text p {
  width: 884px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.text > p {
  padding: 0 0 34px 0;
}

.sidebar {
  border: 1px solid #000000;
  width: 344px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.sidebar li {
  padding: 22px 0 25px 44px;
}

.sidebar li:hover {
  background-color: #dbdbdb;
}

.sidebar a {
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
}

.sidebar li:hover a {
  background-color: #dbdbdb;
  padding: 0 0 0 20px;
}

.footer {
  box-sizing: content-box;
  height: 70px;
  margin: 54px 0 0 0;
  background-color: #b5b7ba;
  border-bottom: 30px solid white;
}

.footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 0 40px;
}

.footer li {
  padding: 20px 0 0 0;
}

.footer a {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer a:hover {
  color: #4188a8;
  text-decoration: underline;
}

.footer span {
  padding: 20px 40px 0 135px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
