<template>
  <div class="page__wraper">
      <div
        v-for="pageNumber in totalPage"
        :key="pageNumber"
        class="page"
        :class="{ 'current-page': page === pageNumber }"
        @click="changePage(pageNumber)"
      >
        {{ pageNumber }}
      </div>
    </div>
</template>

<script>
export default {
  props: {
    page: {
      type: Number,
      required: true
    },
    totalPage: {
      type: Number,
      required: true
    }
  },

  methods: {
    changePage(pageNumber) {
      this.$emit('changePage', pageNumber)
    }
  }

}
</script>

<style scoped>
.page__wraper {
  display: flex;
  margin-top: 15px;
}

.page {
  border: 1px solid black;
  padding: 10px;
}

.current-page {
  background: teal;
  border: 2px solid teal;
  color: white;
}
</style>