<template>
  <div v-if="posts.length > 0">
    <h4>Post list</h4>
    <transition-group name="post-list">
      <post-item :post="post" v-for="post in posts" :key="post.id" @remove="removePost" />
    </transition-group>
  </div>
  <h2 v-else class="posts-empty">Post list is empty</h2>
</template>

<script>
import PostItem from "@/components/PostItem.vue";
export default {
  components: {
    PostItem,
  },
  props: {
    posts: {
      type: Array,
      required: true,
    },
  },
  methods: {
    removePost(post) {
      this.$emit("remove", post);
    },
  },
};
</script>

<style scoped>
.posts-empty {
  color: tomato;
}
.post-list-move,
.post-list-enter-active,
.post-list-leave-active {
  transition: all 0.5s ease;
}

.post-list-enter-from,
.post-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.post-list-leave-active {
  position: absolute;
}
</style>