<template>
  <form @submit.prevent>
    <h4>Add post</h4>
    <my-input
      v-focus
      v-model="post.title"
      type="text"
      placeholder="Name post"
    />
    <my-input v-model="post.body" type="text" placeholder="Description post" />
    <my-button @click="createPost" class="btn__create">Create post</my-button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      post: {
        title: "",
        body: "",
      },
    };
  },
  methods: {
    createPost() {
      this.post.id = Date.now();
      this.$emit("create", this.post);
      this.post = {
        title: "",
        body: "",
      };
    },
  },
};
</script>

<style scoped>
form {
  display: flex;
  flex-direction: column;
}

.btn__create {
  align-self: flex-end;
  margin-top: 15px;
}
</style>