@import url(reset.css);
* {
  box-sizing: border-box;
}
.wrapper {
  background: url(../image/background.jpg) center / cover no-repeat;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  min-width: 1366px;
  font-size: 18px;
  margin: 0 auto;
}

.container {
  width: 1030px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo-img {
  margin: 51px 0 22px 0;
}

.logo-img :hover {
  color: #f26522;
}

.logo-img a {
  text-decoration: none;
}

.logo {
  padding: 0 4px;
  display: inline-block;
}

.slogan {
  color: #ffffff;
}

.slogan::before {
  content: url(../image/logo.svg);
}

.slogan:hover::before {
  content: url(../image/logo_hover.svg);
  padding-right: 2px;
}

.logo-title {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}
.logo-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.contact a {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.contact a:hover {
  color: #f26522;
}

.mail {
  margin: 46px 0 19px 0;
}

.tel {
  margin: 0 0 17px 0;
  text-align: right;
}

.tours-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tours-link {
  text-decoration: none;
}

/* !ще один варіант як можна зробити бордер градієнт */

/* .tours-img {
  border: 5px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 75%
  );
  border-image-slice: 1;
} */

.tours-img {
  position: relative;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  z-index: 1;
}

.tours-img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 75%
  );
  z-index: -1;
  margin: -5px;
}

.tours-link span {
  text-align: center;
  display: block;
  color: #ffffff;
  margin: 20px 0 37px 0;
}

.tours-link:hover {
  color: #f26522;
}

.tours-link:hover span {
  color: #f26522;
}

.tours-link:hover .article {
  transform: translateY(100%);
  animation: text 1s forwards;
  color: #ffffff;
  opacity: 1;
}

.tours-item {
  position: relative;
}

.article {
  background-color: #f26522;
  position: absolute;
  top: 55%;
  right: 0;
  left: 0;
  bottom: 25%;
  z-index: 2;
  opacity: 0;
}

@keyframes text {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.article-title {
  font-size: 10px;
  line-height: 10px;
  margin: 7px 0 8px 16px;
}
.article-subtitle {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 0 16px;
}

.arrow-text {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  padding: 0 0 0 128px;
}

.arrow::after {
  content: "";
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin: 0 0 2px 16px;
}

.footer {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding: 12px 0 15px 0;
}
