* {
  box-sizing: border-box;
}

.container {
    max-width: 1280px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 0;
}

.navbar {
  text-align: center;
  margin: 25px 0 25px 0;
}

.navbar-list li {
  list-style: none;
  display: inline-block;
  margin: 0 72px 0 0;
}

.navbar-list a {
  text-decoration: none;
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.7px;
}

.image {
  width: 100%;
}

.title {
  margin: 49px 0 38px 0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #373737;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.text p {
  margin: 0 68px 0 68px;
  text-align: center;
  color: #373737;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.4px;
}

.text > p {
  padding: 0 0 28px 0;
}

.button {
  text-align: center;
  margin: 66px 0 82px 0;
}

.button a {
  text-decoration: none;
  padding: 18px 43px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer p {
  margin: 0 105px 29px 0;
  text-align: end;
  color: #373737;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2.4px;
}
