.container {
  margin: 0 20px;
}

.card {
  margin: 10px 0;
  padding: 0 0 0 15px;
}

.card:nth-child(even) {
  background-color: #ffffff;
  border: 2px solid #d8d6d6;
}

.card:nth-child(odd) {
  background-color: #f7f7f7;
  border: 2px solid #a19d9d;
}
.user {
}
.title-post {
}
.body-post {
}
