.table-container {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shopping-cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 12px;
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.cart-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
