<template>
  <div>
    <h1>Page with posts</h1>
    <my-input v-focus v-model="searchQuery" placeholder="Search..." />
    <div class="app__btns">
      <my-button>Create post</my-button>
      <my-select v-model="selectedSort" :options="sortOptions" />
    </div>

    <my-dialog v-model="dialogVisible">
      <post-form />
    </my-dialog>

    <post-list
      v-if="!isPostLoading"
      :posts="sortedAndSearchedPosts"
         />
    <div v-else>Posts are loading...</div>

    <!-- <pagination-posts :totalPage="totalPage" :page="page" @changePage="changePage"/> -->
  </div>
</template>

<script>
import PostForm from "@/components/PostForm.vue";
import PostList from "@/components/PostList.vue";
import PaginationPosts from "@/components/PaginationPosts.vue";
import { usePosts } from "@/hooks/usePosts";
import useSortedPosts from "@/hooks/useSortedPosts";
import useSortedAndSearchedPosts from "@/hooks/useSortedAndSearchedPosts";

export default {
  components: {
    PostForm,
    PostList,
    PaginationPosts,
  },
  data() {
    return {
      dialogVisible: false,
      sortOptions: [
        { value: "id", name: "By id" },
        { value: "title", name: "By name" },
        { value: "body", name: "By description" },
      ],
    };
  },

  setup(props) {
    const { posts, isPostLoading, totalPage } = usePosts(10);
    const { selectedSort, sortedPosts} = useSortedPosts(posts);
    const { searchQuery, sortedAndSearchedPosts } =
      useSortedAndSearchedPosts(sortedPosts);
    return {
      posts,
      totalPage,
      isPostLoading,
      selectedSort,
      sortedPosts,
      searchQuery,
      sortedAndSearchedPosts,
    };
  },
};
</script>

<style scoped>
.app__btns {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.observer {
  height: 30px;
  background: green;
}
</style>
