<template>
  <div>
    <h1>Page with posts</h1>
    <my-input
      v-focus
      :model-value="searchQuery"
      @update:model-value="setSearchQuery"
      placeholder="Search..."
    />
    <div class="app__btns">
      <my-button @click="showDialog">Create post</my-button>
      <my-select :model="selectedSort" @update:model-value="setSelectedSort" :options="sortOptions" />
    </div>

    <my-dialog v-model="dialogVisible">
      <post-form @create="createPost" />
    </my-dialog>

    <post-list
      v-if="!isPostLoading"
      :posts="sortedAndSearchedPosts"
      @remove="removePost"
    />
    <div v-else>Posts are loading...</div>
    <div v-intersection="loadMorePosts" class="observer"></div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters, mapMutations } from "vuex";

import PostForm from "@/components/PostForm.vue";
import PostList from "@/components/PostList.vue";
import PaginationPosts from "@/components/PaginationPosts.vue";

export default {
  components: {
    PostForm,
    PostList,
    PaginationPosts,
  },
  data() {
    return {
      dialogVisible: false,
    };
  },
  methods: {
    ...mapActions({
      loadMorePosts: "posts/loadMorePosts",
      fetchPosts: "posts/fetchPosts",
    }),
    ...mapMutations({
      setPage: "posts/setPage",
      setSearchQuery: "posts/setSearchQuery",
      setSelectedSort: "posts/setSelectedSort",
      addPost: "posts/addPost",
    deletePost: "posts/deletePost", 
    }),
    createPost(post) {
      this.addPost(post);
      this.dialogVisible = false;
    },
    removePost(post) {
      this.deletePost(post);
    },
    showDialog() {
      this.dialogVisible = true;
    },
  },
  mounted() {
    this.fetchPosts();
  },

  computed: {
    ...mapState({
      posts: (state) => state.posts.posts,
      isPostLoading: (state) => state.posts.isPostLoading,
      selectedSort: (state) => state.posts.selectedSort,
      searchQuery: (state) => state.posts.searchQuery,
      page: (state) => state.posts.page,
      limit: (state) => state.posts.limit,
      totalPage: (state) => state.posts.totalPage,
      sortOptions: (state) => state.posts.sortOptions,
    }),

    ...mapGetters({
      sortedPosts: "posts/sortedPosts",
      sortedAndSearchedPosts: "posts/sortedAndSearchedPosts",
    }),
  },
};
</script>

<style scoped>
.app__btns {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.observer {
  height: 30px;
  background: green;
}
</style>
