<template>
  <div>
    <div v-if="isLoading">Post is loading...</div>
    <div v-else> 
      <h1>Page with post {{ $route.params.id }}</h1>

      <div><strong>Id:</strong> {{ post.id }}</div>
      <div><strong>Name:</strong> {{ post.title }}</div>
      <div><strong>Description:</strong> {{ post.body }}</div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      post: {},
      isLoading: true
  }

},

  methods: {
    fetchPost() {
      try {
        this.isLoading = true

        axios
          .get(`https://jsonplaceholder.typicode.com/posts/${this.$route.params.id}`)
          .then((response) => {
            this.post = response.data
          })
      } catch (e) {
        alert('Error')
      } finally {
        this.isLoading = false
      }
    }
  },

  mounted() {
this.fetchPost()
  },
    
}
</script>

<style>

</style>