<template>
  <div>
    <h1>Page with posts</h1>
    <my-input v-focus v-model="searchQuery" placeholder="Search..." />
    <div class="app__btns">
      <my-button @click="showDialog">Create post</my-button>
      <my-select v-model="selectedSort" :options="sortOptions" />
    </div>

    <my-dialog v-model="dialogVisible">
      <post-form @create="createPost" />
    </my-dialog>

    <post-list
      v-if="!isPostLoading"
      :posts="sortedAndSearchedPosts"
      @remove="removePost"
    />
    <div v-else>Posts are loading...</div>
    <div v-intersection="loadMorePosts" class="observer"></div>
    <!-- <pagination-posts :totalPage="totalPage" :page="page" @changePage="changePage"/> -->
  </div>
</template>

<script>
import axios from "axios";

import PostForm from "@/components/PostForm.vue";
import PostList from "@/components/PostList.vue";
import PaginationPosts from '@/components/PaginationPosts.vue';

export default {
  components: {
    PostForm,
    PostList,
    PaginationPosts
  },
  data() {
    return {
      posts: [],
      dialogVisible: false,
      isPostLoading: false,
      page: 1,
      limit: 10,
      totalPage: 0,
      searchQuery: "",
      selectedSort: "",
      sortOptions: [
        { value: "id", name: "By id" },
        { value: "title", name: "By name" },
        { value: "body", name: "By description" },
      ],
    };
  },
  methods: {
    createPost(post) {
      this.posts.push(post);
      this.dialogVisible = false;
    },
    removePost(post) {
      this.posts = this.posts.filter((p) => p.id !== post.id);
    },
    showDialog() {
      this.dialogVisible = true;
    },
    // for paginations
    // changePage(pageNumber) {
    //   this.page = pageNumber;
    // },
    async fetchPosts() {
      try {
        this.isPostLoading = true;
        const response = await axios.get(
          "https://jsonplaceholder.typicode.com/posts",
          {
            params: {
              _page: this.page,
              _limit: this.limit,
            },
          }
        );
        this.totalPage = Math.ceil(
          response.headers["x-total-count"] / this.limit
        );
        this.posts = response.data;
      } catch (e) {
        alert("Error");
      } finally {
        this.isPostLoading = false;
      }
    },
    //load more posts
    async loadMorePosts() {
      try {
        this.page += 1;
        const response = await axios.get(
          "https://jsonplaceholder.typicode.com/posts",
          {
            params: {
              _page: this.page,
              _limit: this.limit,
            },
          }
        );
        this.totalPage = Math.ceil(
          response.headers["x-total-count"] / this.limit
        );
        this.posts = [...this.posts, ...response.data];
      } catch (e) {
        alert("Error");
      }
    },
  },
  mounted() {
    this.fetchPosts();
  },

  watch: {
      //for paginations
      // page() {
      //   this.fetchPosts();
      // }

    // for sorting
    //   selectedSort(newValue) {
    //     this.posts.sort((post1, post2) => {
    //       if (typeof post1[newValue] === "number") {
    //         return post1[newValue] - post2[newValue]; // Числове порівняння для id
    //       } else {
    //         return post1[newValue].localeCompare(post2[newValue]); // Для рядків
    //       }
    //     });
      },


  //запамятовує останню дію з вибраною сортуванням useMemo
  computed: {
    sortedPosts() {
      return [...this.posts].sort((post1, post2) => {
        if (typeof post1[this.selectedSort] === "number") {
          return post1[this.selectedSort] - post2[this.selectedSort]; // Числове порівняння для id
        } else {
          return post1[this.selectedSort]?.localeCompare(
            post2[this.selectedSort]
          ); // Для рядків
        }
      });
    },

    sortedAndSearchedPosts() {
      return this.sortedPosts.filter((post) =>
        post.title.toLowerCase().includes(this.searchQuery.toLowerCase())
      );
    },

    // варіант сортування через watch- аналог useEffect
    
  },
};
</script>

<style scoped>

.app__btns {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.observer {
  height: 30px;
  background: green;
}
</style>
