*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-size: 18px;
    font-family: sans-serif;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
}

button{
    background: #d63932;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 8px 15px;
    cursor: pointer;
}

button:hover{
    background: #bd2e28;
}

button:active{
    background: #9b221c;
}

p{
    margin: 0 0 15px 0;

}

.collapse{
    display: grid;
    transition: all ease 1s;
    grid-template-rows: 1fr;
    padding: 10px;
}

.collapse.hide{
    grid-template-rows: 0fr;
    padding: 0;
}

.collapse>div{
    overflow: hidden;
}

.bg-orange{
    background: #fbd966;
    margin: 10px 0;
}
