<footer class="footer">
	<div class="footer__title">
		<p class="footer__title--text">
			get in touch with us
		</p>
	</div>

	<p class="footer__slogan">
		Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper
		odio.
	</p>
	<div class="footer__icons">
		<div class="icon-rss">
			<a class="icon-rss__item _icon-rss" href=""></a>
		</div>
		<div class="icon-facebook">
			<a class="icon-facebook__item _icon-facebook" href="#"></a>
		</div>
		<div class="icon-twitter">
			<a class="icon-twitter__item _icon-Twitter" href="#"></a>
		</div>
		<div class="icon-dribbble">
			<a class="icon-dribbble__item _icon-dribbble" href="#"></a>
		</div>
		<div class="icon-pinterest">
			<a class="icon-pinterest__item _icon-pinterest" href="#"></a>
		</div>
	</div>
	<div class="footer__adress">
		<p class="footer__adress--text">
			Moonshine St. 14-05 Light City /
		</p>
		<p class="footer__adress--text">
			T. +00 (123) 456 78 90 /
		</p>
		<p class="footer__adress--text">
			first.last@email.com
		</p>



	</div>

</footer>