.footer {
	background-color: #000000;
	margin: 0px auto;

	&__title {
		display: flex;
		justify-content: center;
		padding: 38px 0 8px;
		position: relative;


		&::before {
			content: "";
			display: block;
			width: 185px;
			height: 1px;
			background-color: $color-text;
			position: absolute;
			bottom: 0px;
		}

		&--text {
			@include textStyle (700, 14, $color-text);
			text-align: center;
			text-transform: uppercase;
			padding: 0 5px;
			position: absolute;
			background-color: #000000;
		}
	}

	@media (min-width: 768px) {
		&__title {
			padding: 57px 22px 0;

			&::before {
				width: 210px;
				bottom: -8px;
			}

			&--text {
				@include textStyle (700, 16, $color-text);

			}
		}
	}

	@media (min-width: 1200px) {
		&__title {
			padding: 66px 22px 0;
		}
	}




	&__slogan {
		@include textStyle (400, 12, $color-text);
		text-align: center;
		padding: 20px 2px 26px 2px;
		line-height: 20px;
	}

	@media (min-width: 768px) {
		&__slogan {
			@include textStyle (400, 14, $color-text);
			padding: 37px 0 34px 0;
		}
	}

	&__adress {
		padding: 25px 0 47px 0;

		&--text {
			@include textStyle (400, 14, $color-text);
			line-height: 24px;
			text-align: center;
		}
	}

	@media (min-width: 768px) {
		&__adress {
			display: flex;
			gap: 10px;
			justify-content: center;
			padding: 34px 0 56px 0;

			&--text {
				@include textStyle (400, 16, $color-text);

			}
		}
	}

	@media (min-width: 1200px) {
		&__adress {
			padding: 34px 0 70px 0;

		}
	}



	&__icons {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		gap: 5px;
	}
}


.icon-rss {
	@include icon ($color-icon1);

	&__item {
		position: absolute;
		top: 50%;
		left: 55%;
		transform: translate(-50%, -55%);
		color: $color-icon1;
		text-decoration: none;
	}
}

.icon-facebook {
	@include icon ($color-icon2);

	&__item {
		@include iconItem ($color-icon2);
	}
}

.icon-twitter {
	@include icon ($color-icon3);

	&__item {
		@include iconItem ($color-icon3);
	}
}

.icon-dribbble {
	@include icon ($color-icon4);

	&__item {
		@include iconItem ($color-icon4);
	}
}

.icon-pinterest {
	@include icon ($color-icon5);

	&__item {
		@include iconItem ($color-icon5);
	}

}