@mixin font ($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: $weight;
		font-style: $style;
	}
}

@mixin icon ($color) {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid $color;
	position: relative;
}

@mixin iconItem ($color) {
	position: absolute;
	top: 50%;
	left: 50%;
	color: $color;
	transform: translate(-50%, -50%);
	text-decoration: none;
}

@mixin textStyle ($fontWeight, $fontSize, $color) {
	font-weight: $fontWeight;
	font-size: $fontSize + px;
	color: $color;
}