// Шрифт по замовчуванні
$fontFamily: "Roboto";
// Кольори іконок
$color-icon1: #F8902E;
$color-icon2: #39599F;
$color-icon3: #45B0E3;
$color-icon4: #D97AB0;
$color-icon5: #CC212C;

// Кольори шрифтів 
$color-text-pos: #5C5C5C;
$color-text: #4E4E4E;
$color-comments: #7C7C7C;

// Кольори тексту підвалу
$color-title: #FEFEFE;
$color-text: #B9B9B9;

$col-gap: 20px;