@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: "400";
  font-style: "normal";
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icon.woff2#icons");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=_icon-]::before {
  display: block;
}

._icon-dribbble:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-pinterest:before {
  content: "\e902";
}

._icon-rss:before {
  content: "\e903";
}

._icon-Twitter:before {
  content: "\e904";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  font-family: "Roboto";
}

.container {
  max-width: 1160px;
  padding: 0 2px;
  margin: 0 auto;
}

.header {
  width: 100%;
  min-height: 60px;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 60px;
  background-color: #ffffff;
  z-index: 2;
}

@media (min-width: 768px) {
  .header::before {
    content: "";
    z-index: -1;
  }
}
.burger {
  position: relative;
}
.burger__wrap {
  z-index: 3;
  margin: 23px 0;
  cursor: pointer;
  background-color: #000000;
  position: absolute;
  right: 0;
  width: 44px;
  height: 37px;
}
.burger__btn::before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 13px;
  top: 12px;
  width: 17px;
  height: 2px;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.burger__btn--active::before {
  top: 50%;
  transform: rotate(45deg);
}
.burger__btn::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  left: 13px;
  bottom: 13px;
  width: 17px;
  height: 2px;
  transition: transform 0.3s ease-in-out, bottom 0.3s ease-in-out;
}
.burger__btn--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}
.burger__span {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 13px;
  top: 17px;
  width: 17px;
  height: 2px;
  transition: opacity 0.3s ease-in-out;
}
.burger__span--active {
  opacity: 0;
}

@media (min-width: 768px) {
  .burger__wrap {
    display: none;
  }
}
.menu__list {
  z-index: 1;
  display: block;
  position: fixed;
  top: 60px;
  right: 0;
  min-width: 182px;
  background-color: #f5f5f5;
  transform: translateY(-150%);
  transition: transform 0.6s ease-in-out;
}
.menu__list--visible {
  transform: none;
}
.menu__items {
  padding: 12px 0 0 13px;
}
.menu__items:hover {
  background-color: #e5e5e5;
}
.menu__link {
  font-weight: 400;
  font-size: 11px;
  color: #B9B9B9;
  text-transform: uppercase;
  text-decoration: none;
}
.menu__link--visible {
  color: #57a4a4;
}

.stop-scroll {
  overflow: hidden;
}

@media (min-width: 768px) {
  .menu__list {
    z-index: 20;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    right: 0;
    background-color: #ffffff;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    transform: none;
  }
  .menu__items {
    padding: 40px 34px 0 0;
  }
  .menu__items:hover {
    background-color: transparent;
  }
}
@media (min-width: 1200px) {
  .menu__items {
    padding: 45px 68px 0 0;
  }
  .menu__items:hover {
    background-color: transparent;
  }
}
.section__img {
  margin: 23px 0 0 0;
  width: 100%;
}

@media (min-width: 768px) {
  .section__img {
    margin: 43px 0 0 0;
  }
}
@media (min-width: 1200px) {
  .section__img {
    margin: 51px 0 0 0;
  }
}
.content__title {
  font-weight: 700;
  font-size: 14px;
  color: #B9B9B9;
  text-transform: uppercase;
  position: relative;
  background-color: #ffffff;
  padding: 0 7px;
  margin: 38px 0 24px 0;
}
.content__title::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  transform: translate(0, -50%);
  width: 5px;
  height: 2px;
  background-color: #B9B9B9;
}

@media (min-width: 768px) {
  .content__title {
    font-weight: 700;
    font-size: 16px;
    color: #B9B9B9;
    margin: 56px 0 24px 0;
  }
}
@media (min-width: 1200px) {
  .content__title {
    font-weight: 700;
    font-size: 16px;
    color: #B9B9B9;
    margin: 66px 0 24px 0;
  }
}
.post__img {
  max-width: 160px;
  max-height: 140px;
}
.post__title {
  font-weight: 700;
  font-size: 14px;
  color: #B9B9B9;
  margin: 19px 0 10px 0;
}
.post__info {
  display: grid;
  align-items: baseline;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 0 0 35px 0;
}
.post__info--text {
  font-weight: 400;
  font-size: 11px;
  color: #7C7C7C;
}
.post__comments {
  position: relative;
}
.post__comments--link {
  font-weight: 400;
  font-size: 11px;
  color: #7C7C7C;
  text-decoration: none;
}
.post__comments--link::before {
  content: "";
  background-color: #7C7C7C;
  position: absolute;
  display: inline-block;
  height: 11px;
  width: 1px;
  top: 3px;
  left: -10px;
  transform: rotate(25deg);
}
.post__text {
  font-weight: 400;
  font-size: 14px;
  color: #5C5C5C;
  display: none;
}

@media (min-width: 768px) {
  .posts {
    display: grid;
    row-gap: 32px;
    padding: 0 0 60px 0;
  }
  .post {
    display: grid;
    grid-template-columns: 160px 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .post__title {
    font-weight: 700;
    font-size: 16px;
    color: #B9B9B9;
    margin: 10px 0 10px 0;
  }
  .post__info {
    display: grid;
    align-items: baseline;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin: 0 0 0 0;
  }
  .post__info--text {
    font-weight: 400;
    font-size: 12px;
    color: #7C7C7C;
  }
  .post__comments {
    margin: 0 0 25px 0;
  }
  .post__comments--link {
    font-weight: 400;
    font-size: 12px;
    color: #7C7C7C;
    text-decoration: none;
  }
  .post__text {
    font-weight: 400;
    font-size: 14px;
    color: #5C5C5C;
    display: block;
  }
  .post__text:not(:last-child) {
    padding: 0 0 15px 0;
  }
}
@media (min-width: 1200px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 69px 0;
  }
}
.inst__title {
  font-weight: 700;
  font-size: 14px;
  color: #B9B9B9;
  text-transform: uppercase;
  position: relative;
  background-color: #ffffff;
  padding: 0 7px;
  margin: 0 0 18px 0;
}
.inst__title::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  transform: translate(0, -50%);
  width: 5px;
  height: 2px;
  background-color: #B9B9B9;
}
.inst__subtitle {
  display: none;
}
.inst__images {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 0 50px 0;
}
.inst__image {
  max-width: 300px;
}
.inst__image--320 {
  display: block;
}
.inst__image--768 {
  display: none;
}
.inst__image--1200 {
  display: none;
}

@media (min-width: 768px) {
  .inst__section {
    display: grid;
    grid-template-columns: repeat(2, 45%);
  }
  .inst__title {
    font-weight: 700;
    font-size: 16px;
    color: #B9B9B9;
    margin: 0 0 40px 0;
  }
  .inst__title::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 2px;
    background-color: #B9B9B9;
  }
  .inst__subtitle {
    font-weight: 700;
    font-size: 13px;
    color: #B9B9B9;
    display: block;
    text-transform: uppercase;
    position: relative;
    background-color: #ffffff;
    padding: 0 7px;
  }
  .inst__subtitle::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 2px;
    background-color: #B9B9B9;
  }
  .inst__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 50px 0;
  }
  .inst__image {
    max-width: 250px;
  }
  .inst__image--320 {
    display: block;
  }
  .inst__image--768 {
    display: block;
  }
  .inst__image--1200 {
    display: none;
  }
  .grid-item {
    justify-self: end;
  }
}
@media (min-width: 1200px) {
  .inst__section {
    display: flex;
    justify-content: space-between;
  }
  .inst__title {
    font-weight: 700;
    font-size: 16px;
    color: #B9B9B9;
    margin: 0 0 40px 0;
  }
  .inst__title::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 2px;
    background-color: #B9B9B9;
  }
  .inst__subtitle {
    font-weight: 700;
    font-size: 13px;
    color: #B9B9B9;
    display: block;
    text-transform: uppercase;
    position: relative;
    background-color: #ffffff;
    padding: 0 7px;
  }
  .inst__subtitle::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 0;
    transform: translate(0, -50%);
    width: 5px;
    height: 2px;
    background-color: #B9B9B9;
  }
  .inst__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .inst__image {
    display: block;
    max-width: 285px;
  }
}
.footer {
  background-color: #000000;
  margin: 0px auto;
}
.footer__title {
  display: flex;
  justify-content: center;
  padding: 38px 0 8px;
  position: relative;
}
.footer__title::before {
  content: "";
  display: block;
  width: 185px;
  height: 1px;
  background-color: #B9B9B9;
  position: absolute;
  bottom: 0px;
}
.footer__title--text {
  font-weight: 700;
  font-size: 14px;
  color: #B9B9B9;
  text-align: center;
  text-transform: uppercase;
  padding: 0 5px;
  position: absolute;
  background-color: #000000;
}
@media (min-width: 768px) {
  .footer__title {
    padding: 57px 22px 0;
  }
  .footer__title::before {
    width: 210px;
    bottom: -8px;
  }
  .footer__title--text {
    font-weight: 700;
    font-size: 16px;
    color: #B9B9B9;
  }
}
@media (min-width: 1200px) {
  .footer__title {
    padding: 66px 22px 0;
  }
}
.footer__slogan {
  font-weight: 400;
  font-size: 12px;
  color: #B9B9B9;
  text-align: center;
  padding: 20px 2px 26px 2px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .footer__slogan {
    font-weight: 400;
    font-size: 14px;
    color: #B9B9B9;
    padding: 37px 0 34px 0;
  }
}
.footer__adress {
  padding: 25px 0 47px 0;
}
.footer__adress--text {
  font-weight: 400;
  font-size: 14px;
  color: #B9B9B9;
  line-height: 24px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__adress {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 34px 0 56px 0;
  }
  .footer__adress--text {
    font-weight: 400;
    font-size: 16px;
    color: #B9B9B9;
  }
}
@media (min-width: 1200px) {
  .footer__adress {
    padding: 34px 0 70px 0;
  }
}
.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 5px;
}

.icon-rss {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #F8902E;
  position: relative;
}
.icon-rss__item {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -55%);
  color: #F8902E;
  text-decoration: none;
}

.icon-facebook {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #39599F;
  position: relative;
}
.icon-facebook__item {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #39599F;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.icon-twitter {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #45B0E3;
  position: relative;
}
.icon-twitter__item {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #45B0E3;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.icon-dribbble {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #D97AB0;
  position: relative;
}
.icon-dribbble__item {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #D97AB0;
  transform: translate(-50%, -50%);
  text-decoration: none;
}

.icon-pinterest {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #CC212C;
  position: relative;
}
.icon-pinterest__item {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #CC212C;
  transform: translate(-50%, -50%);
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */