@import "_mixins";

// Підключення шрифтів через плагін Google fonts тільки для кирилиці &subset=curillic-ext
// &display=swap&subset=curillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");

@import "_fonts";

// Підключення іконного шрифту
@import "_icons";
@import "_variables";

// Обнулення
@import "_null";
@import "_header";


// body
.section {

	&__img {
		margin: 23px 0 0 0;
		width: 100%;
	}
}

@media (min-width: 768px) {
	.section {
		&__img {
			margin: 43px 0 0 0;
		}
	}
}

@media (min-width: 1200px) {
	.section {
		&__img {
			margin: 51px 0 0 0;
		}
	}
}

.content {

	&__title {
		@include textStyle (700, 14, $color-text);
		text-transform: uppercase;
		position: relative;
		background-color: #ffffff;
		padding: 0 7px;
		margin: 38px 0 24px 0;

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			transform: translate(0, -50%);
			width: 5px;
			height: 2px;
			background-color: $color-text;
		}
	}
}

@media (min-width: 768px) {
	.content {

		&__title {
			@include textStyle (700, 16, $color-text);
			margin: 56px 0 24px 0;
		}
	}
}

@media (min-width: 1200px) {
	.content {

		&__title {
			@include textStyle (700, 16, $color-text);

			margin: 66px 0 24px 0;
		}
	}
}

.post {

	&__img {
		max-width: 160px;
		max-height: 140px
	}

	&__title {
		@include textStyle (700, 14, $color-text);
		margin: 19px 0 10px 0;
	}

	&__info {
		display: grid;
		align-items: baseline;
		grid-template-columns: max-content 1fr;
		column-gap: 20px;
		margin: 0 0 35px 0;
	}

	&__info--text {
		@include textStyle (400, 11, $color-comments);
	}

	&__comments {
		position: relative;
	}

	&__comments--link {
		@include textStyle (400, 11, $color-comments);
		text-decoration: none;

		&::before {
			content: '';
			background-color: $color-comments;
			position: absolute;
			display: inline-block;
			height: 11px;
			width: 1px;
			top: 3px;
			left: calc($col-gap / 2 * -1);
			transform: rotate(25deg);

		}
	}

	&__text {
		@include textStyle (400, 14, $color-text-pos);
		display: none;
	}
}

@media (min-width: 768px) {
	.posts {
		display: grid;
		row-gap: 32px;
		padding: 0 0 60px 0;
	}

	.post {
		display: grid;
		grid-template-columns: 160px 1fr;
		column-gap: 20px;

		&__title {
			@include textStyle (700, 16, $color-text);
			margin: 10px 0 10px 0;

		}

		&__info {
			display: grid;
			align-items: baseline;
			grid-template-columns: max-content 1fr;
			column-gap: 20px;
			margin: 0 0 0 0;
		}

		&__info--text {
			@include textStyle (400, 12, $color-comments);
		}

		&__comments {
			margin: 0 0 25px 0;
		}

		&__comments--link {
			@include textStyle (400, 12, $color-comments);
			text-decoration: none;
		}

		&__text {
			@include textStyle (400, 14, $color-text-pos);
			display: block;

			&:not(:last-child) {
				padding: 0 0 15px 0;
			}
		}

	}

}

@media (min-width: 1200px) {
	.posts {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 0 0 69px 0;
	}
}


.inst {

	&__title {
		@include textStyle (700, 14, $color-text);
		text-transform: uppercase;
		position: relative;
		background-color: #ffffff;
		padding: 0 7px;
		margin: 0 0 18px 0;

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			transform: translate(0, -50%);
			width: 5px;
			height: 2px;
			background-color: $color-text;
		}
	}

	&__subtitle {
		display: none;
	}

	&__images {
		display: grid;
		grid-template-columns: 1fr;
		margin: 0 0 50px 0;
	}

	&__image {
		max-width: 300px;
	}

	&__image--320 {
		display: block;
	}

	&__image--768 {
		display: none;
	}

	&__image--1200 {
		display: none;
	}
}

@media (min-width: 768px) {
	.inst {
		&__section {
			display: grid;
			grid-template-columns: repeat(2, 45%);
		}

		&__title {
			@include textStyle (700, 16, $color-text);
			margin: 0 0 40px 0;

			&::before {
				content: '';
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				transform: translate(0, -50%);
				width: 5px;
				height: 2px;
				background-color: $color-text;
			}
		}

		&__subtitle {
			@include textStyle (700, 13, $color-text);
			display: block;
			text-transform: uppercase;
			position: relative;
			background-color: #ffffff;
			padding: 0 7px;

			&::after {
				content: '';
				position: absolute;
				top: 6px;
				right: 0;
				transform: translate(0, -50%);
				width: 5px;
				height: 2px;
				background-color: $color-text;
			}
		}

		&__images {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin: 0 0 50px 0;
		}

		&__image {
			max-width: 250px;

		}

		&__image--320 {
			display: block;
		}

		&__image--768 {
			display: block;

		}

		&__image--1200 {
			display: none;
		}
	}

	.grid-item {
		justify-self: end;
	}
}

@media (min-width: 1200px) {
	.inst {
		&__section {
			display: flex;
			justify-content: space-between;
		}

		&__title {
			@include textStyle (700, 16, $color-text);
			margin: 0 0 40px 0;

			&::before {
				content: '';
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				transform: translate(0, -50%);
				width: 5px;
				height: 2px;
				background-color: $color-text;
			}
		}

		&__subtitle {
			@include textStyle (700, 13, $color-text);
			display: block;
			text-transform: uppercase;
			position: relative;
			background-color: #ffffff;
			padding: 0 7px;

			&::after {
				content: '';
				position: absolute;
				top: 6px;
				right: 0;
				transform: translate(0, -50%);
				width: 5px;
				height: 2px;
				background-color: $color-text;
			}
		}

		&__images {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}

		&__image {
			display: block;
			max-width: 285px;
		}
	}
}

@import "_footer";