<template>
  <nav class="navbar">
    <div><span class="navbar__title" @click="$router.push('/')" >Vue3 course</span></div>
    <div class="navbar__btns">
      <my-button class="navbar__btn" @click="$router.push('/posts')">Posts</my-button>
      <my-button class="navbar__btn" @click="$router.push('/vuex')">Posts with vueX</my-button>
      <my-button class="navbar__btn" @click="$router.push('/pinia')">Posts with pinia</my-button>
      <my-button class="navbar__btn" @click="$router.push('/composition')">Posts with composition</my-button>
      <my-button class="navbar__btn" @click="$router.push('/about')">About</my-button>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style scoped>
.navbar__title{
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.navbar {
  height: 50px;
  background-color: lightgray;
  box-shadow: 2px 2px 4px gray;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.navbar__btns {
  margin-left: auto;
}

.navbar__btn{
  margin: 0 10px 0 0;
  cursor: pointer;
}
</style>