
.animate-password {
    background-image: linear-gradient(90deg, #ededed 50%, transparent 50%);
    background-size: 200%;
    background-position-x: 100%;
    animation-name: passanimat; /*назва анімації*/
    animation-duration: 5s; /*тривалість анімації така сама як і в JS const TIME_SHOW_PASSWORD = 5000;*/
    animation-iteration-count: 1; /*кількість повторень анімації*/
    animation-timing-function: linear; /*функція анімації лінійно без різних ефектів*/
}

@keyframes passanimat {
    0% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0;
    }
}