.btn a {
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: antiquewhite;
  margin-left: -0.35em;
  font-size: 18px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 14px;
  font-weight: bold;
  text-align: end;
}
