.table-cell {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.table-cell:nth-child(4) {
  font-weight: bold;
}

.table-image {
  width: 25px;
}

button {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.minus-to-cart {
  background-color: #f8d7da;
  color: #721c24;
}

.minus-to-cart:hover {
  background-color: #f5c6cb;
  transform: scale(1.05);
}

.remove-from-cart {
  background-color: #ff4d4d;
  color: white;
}

.remove-from-cart:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
}