@mixin font ($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"),
		url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: $weight;
		font-style: $style;
	}
}

// Адаптивний шрифт
@mixin adaptiv-font($pcSize, $mobSize, $maxSize) {
	$addSize: $pcSize - $mobSize;

	@if $maxSize==1 {
		// Тільки якщо менше контейнера
		font-size: $pcSize + px;

		@media (max-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vh-320px) / #{$maxWidthContainer - 320}));
		}
	}

	@else if $maxSize==2 {
		// Тільки якщо більше контейнера
		font-size: $pcSize + px;

		@media (min-width: #{$maxWidthContainer + px}) {
			font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vh-320px) / #{$maxWidthContainer - 320}));
		}
	}

	@else {
		// Завжди
		font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vh-320px) / #{$maxWidthContainer - 320}));
	}
}

// Адаптивне свойство
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;

	@if type==1 {
		// Тільки якщо менше контейнера
		#{$property}: $startSize + px;

		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vh-320px) / #{$maxWidthContainer - 320}))
		}
	}

	@else if type==2 {
		// Тільки якщо більше контейнера
		#{$property}: $startSize + px;

		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vh-320px) / #{$maxWidthContainer - 320}))
		}
	}

	@else {
		// Завжди
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vh-320px) / #{$maxWidthContainer - 320}))
	}
}