@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: "400";
  font-style: "normal";
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icon.woff2#icons");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]::before,
[class*=_icon-]::before {
  display: block;
}

._container {
  max-width: 1170pxpx;
  margin: 0 auto;
}
@media (maxWidth: 1182pxpx) {
  ._container {
    max-width: 970px;
  }
}
@media (maxWidth: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (maxWidth: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */