@import "mixins";

// Підключення шрифтів через плагін Google fonts тільки для кирилиці &subset=curillic-ext
// &display=swap&subset=curillic-ext


@import "fonts";


// Підключення іконного шрифту
@import "icons";

// Шрифт по замовчуванні
$fontFamily: "";

// Змінні
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Обнулення
// @import "null";

// Oсновна сітка
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;

	@media (maxWidth: $md1+px) {
		max-width: 970px;
	}

	@media (maxWidth: $md2+px) {
		max-width: 750px;
	}

	@media (maxWidth: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}