@import "./reset.css";

@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Bold.woff2") format("woff2"),
    url("../fonts/Gilam-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/CirceBold.woff2") format("woff2"),
    url("../fonts/CirceBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/CirceRegular.woff2") format("woff2"),
    url("../fonts/CirceRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Regular.woff2") format("woff2"),
    url("../fonts/Gilam-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-SemiBold.woff2") format("woff2"),
    url("../fonts/Gilam-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilam";
  src: url("../fonts/Gilam-Book.woff2") format("woff2"),
    url("../fonts/Gilam-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  --color1: #e4b564;
  --color2: #634f2c;
  --color3: #b4a385;
  --color4: #635a4a;
  --color5: #b08c4d;
  --color6: #e5e5e5;
  --color7: #ffffff;
  --color8: #242424;
  --color9: #0e0e0e;
  --color10: #634f2c;
  --color11: #b3a385;
  --color12: #d6af76;
  --color13: #171717;
}
.container {
  background-color: var(--color13);
}

.content {
  font-family: gilam;
  font-size: 20px;
  color: var(--color7);
  max-width: 1460px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  align-items: center;
  justify-items: end;
  padding: 37px 0 120px 0;
}

.header img {
  justify-self: flex-start;
}

.header p {
  font-family: Circe;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.tel {
  text-decoration: none;
  color: var(--color7);
}

.header span {
  font-family: circe;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: var(--color12);
}

.header-btn {
  font-family: circe;
  text-decoration: none;
  border: 1px solid var(--color1);
  color: var(--color1);
  background-color: #0e0e0e;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.header a::before {
  content: url(../image/icons/Tel.png);
  padding: 0 8px 0 0;
}

.title {
  font-family: "Gilam";
  line-height: 28px;
}

.title h2 {
  font-weight: 700;
  font-size: 50px;
}

.title p {
  font-weight: 700;
  font-size: 20px;
  padding: 41px 0 41px 0;
}

.top-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  row-gap: 27px;
  column-gap: 34px;
  margin: 0 0 50px 0;
}

.types {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.types-style {
  display: grid;
  align-items: center;
  justify-content: center;
}

.types__one {
  grid-column: 1 / span 2;
  background-color: var(--color2);
}
.types__two {
  grid-column: 3 / span 2;
  background-color: var(--color3);
}
.types__three {
  grid-column: 5 / span 2;
  background-color: var(--color1);
}
.types__four {
  grid-column: 1 / span 3;
  background-color: var(--color4);
}
.types__five {
  grid-column: 4 / span 3;
  background-color: var(--color5);
}

.title-center {
  margin: 161px 0 94px 0;
}

.center-content {
  height: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  column-gap: 26px;
  row-gap: 24px;
  margin: 0 0 50px 0;
}

.machinery {
  display: grid;
  align-items: start;
}

.machinery-one {
  grid-row: 1 / span 3;
  background-color: var(--color9);
}

.machinery-two {
  grid-row: 1 / span 4;
  background-color: var(--color8);
}

.machinery-three {
  grid-row: 1 / span 2;
  background-color: var(--color8);
}

.machinery-four {
  grid-row: 4 / span 4;
  background-color: var(--color8);
}

.machinery-five {
  grid-row: 3 / span 3;
  background-color: var(--color9);
}

.machinery-six {
  grid-row: 5 / span 3;
  background-color: var(--color1);
}

.machinery-seven {
  grid-row: 6 / span 2;
  background-color: var(--color9);
}

.item {
  margin: 44px 0 0 52px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.item span {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: block;
}

.title-lower {
  display: flex;
  justify-content: space-between;
  margin: 172px 0 72px 0;
}

.title-lower a {
  font-family: circe;
  text-decoration: none;
  border: 1px solid var(--color1);
  color: var(--color1);
  background-color: #0e0e0e;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.lower-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 390px);
  padding: 0 0 240px 0;
}

.lower {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.lower p {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.lower span {
  display: block;
  font-weight: 400;
}

.logo-one {
  background-color: var(--color2);
}
.logo-two {
  background-color: rgba(232, 210, 171, 0.76);
}
.logo-three {
  background-color: var(--color1);
}
.logo-four {
  background-color: var(--color4);
}
.logo-five {
  background-color: var(--color5);
}
.logo-sight {
  background-color: var(--color10);
}
