.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
}

.card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
  margin: 10px;
  padding: 0 0 0 15px;
}

.card:nth-child(even) {
  background-color: #ffffff;
  border: 2px solid #d8d6d6;
}

.card:nth-child(odd) {
  background-color: #f7f7f7;
  border: 2px solid #a19d9d;
}

.title-post {
  margin: 15px;
}
.body-post {
  margin: 0;
}
.user {
  margin: 0;
  padding: 5px;
}
.user-email {
  margin: 0;
}

.btn {
  margin: 30px 0 15px 0;
}
