<header>
	<header class="header">
		<div class="header__content _container">
			<div class="header__menu menu">
				<div class="menu__icon icon-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav class="menu__body">
					<ul class="menu__list">
						<li> <a href="" class="menu__link"></a> </li>
					</ul>
				</nav>
			</div>"
		</div>

	</header>
</header>