.container {
	margin: 0 20px;
}

.film {
	margin: 30px 0 5px 0;
}

.film h3 {
	margin: 5px 0;
}

.film p {
	margin: 10px 0;
}

ul {
	margin: 0;
	padding: 10px 0;
	display: inline-flex;
	flex-wrap: wrap;
}

li {
	list-style: none;
	margin: 0 10px 0 0;
}

.loader {
	--n: 5;
	/* control the number of stripes */
	--s: 30px;
	/* control the width of stripes */
	--g: 5px;
	/* control the gap between stripes */

	width: calc(var(--n)*(var(--s) + var(--g)) - var(--g));
	height: 30px;
	padding: var(--g);
	border: 1px solid;
	background:
		repeating-linear-gradient(90deg,
			currentColor 0 var(--s),
			#0000 0 calc(var(--s) + var(--g))) left / calc((var(--n) + 1)*(var(--s) + var(--g))) 100% no-repeat content-box;
	animation: load 1.5s steps(calc(var(--n) + 1)) infinite;
}

@keyframes load {
	0% {
		background-size: 0% 100%
	}
}