// MODAL
.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
}

.modal-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-black, 0.6);
}

.modal {
	position: absolute;
	background-color: #fff;
	box-shadow: $shadow-one;
	border-radius: 3px;
	padding: 4rem 10rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2500;

	&__validation {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $color-invalid;
	}

	&__form {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__visit {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__divided-div {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}

	&__dividedleft-div {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-right: 2rem;
	}

	&__dividedright-div {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	& label {
		color: $color-gray;
		margin-bottom: 0.5rem;
	}

	&__password-label,
	&__email-label {
		align-self: flex-start;
	}

	& textarea,
	& input,
	& select {
		font-size: 2rem;
		margin-bottom: .5rem;
		border-radius: 0;
		padding: 0.4rem 0.5rem;
		width: 250px;
		border: $border-gray;
	}

	&__bloodpressure-input,
	&__age-input,
	&__BMI-input {
		text-align: center;
	}

	& select {
		text-align: center;
		color: $color-black;
	}

	& textarea {
		resize: none;
	}

	& input::placeholder {
		color: $color-gray;
	}

	& textarea,
	& select {
		outline: none;
	}

	&__heartdiseases-textarea {
		border: $border-darkest;

	}

	& input:focus {
		outline: none;
		border: $border-darkest;
	}

	& input:focus:invalid {
		outline: none;
		border: $border-invalid;
	}

	&__btn-send {
		font-size: 2rem;
		padding: 1rem 2rem;
		border-radius: 3px;
		border: $border-gray;
		color: $color-gray;
		align-self: center;
		cursor: pointer;
		margin-top: 1.5rem;
		transition: all 0.2s;
	}

	&__btn-enter {
		font-size: 1.5rem;
		padding: 0.5rem;
		border-radius: 3px;
		border: $border-gray;
		color: $color-gray;
		width: 50%;
		align-self: center;
		cursor: pointer;
		margin-top: 1.5rem;
		transition: all 0.2s;
	}

	&__btn-send:hover,
	&__btn-enter:hover {
		border: $border-darkest;
		color: #fff;
		background-color: $color-darkest;
	}

	&__btn-close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		border: none;
		font-size: 2rem;
		cursor: pointer;
		color: $color-gray;
		transition: all 0.2s;
	}

	&__btn-close:hover {
		color: $color-darkest;
	}
}

// CARD

.card-copy {
	position: absolute;
	visibility: hidden;
	display: none;
	height: 18.813rem;
	padding: 3rem;
	font-size: 1.6rem;
	border-radius: 3px;
	margin-left: 1rem;
	margin-bottom: 1rem;

}

.card {
	display: flex;
	position: relative;
	padding: 3rem;
	font-size: 1.6rem;
	box-shadow: $shadow-one;
	border-radius: 3px;
	flex-direction: column;
	background-color: $color-white;
	margin-left: 1rem;
	margin-bottom: 1rem;

	&--over {
		border: 3px dotted $color-darkest;
	}

	&__showMoreBtn {
		margin: 5px 0;
		border-radius: 3px;
		border: $border-darkest;
		background-color: $color-darker;
		color: $color-white;
		cursor: pointer;
		padding: .5rem;
		width: 15rem;
	}

	&__editBtn,
	&__deleteBtn {
		position: absolute;
		top: 1rem;
		border: none;
		font-size: 1.5rem;
		cursor: pointer;
		transition: all 0.2s;
	}

	&__editBtn:hover,
	&__deleteBtn:hover {
		color: $color-darkest;
	}

	&__editBtn {
		right: 3rem;
	}

	&__deleteBtn {
		right: 1rem;
	}

	&__hidden {
		display: none;
	}

}

// EDIT
.edit-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2000;
}

.edit-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-black, 0.6);
}

.edit {
	position: absolute;
	background-color: #fff;
	box-shadow: $shadow-one;
	border-radius: 3px;
	padding: 4rem 10rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2500;

	&__form {
		display: flex;
		align-items: center;
		flex-direction: column;
	}


	&__divided-div {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}

	&__dividedleft-div {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-right: 2rem;
	}

	&__dividedright-div {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	& label {
		color: $color-gray;
		margin-bottom: 0.5rem;
	}

	& textarea,
	& input,
	& select {
		font-size: 2rem;
		margin-bottom: .5rem;
		border-radius: 0;
		padding: 0.4rem 0.5rem;
		width: 250px;
		border: $border-gray;
	}

	&__bloodpressure-input,
	&__age-input,
	&__BMI-input {
		text-align: center;
	}

	& select {
		text-align: center;
		color: $color-black;
	}

	& textarea {
		resize: none;
	}

	& textarea,
	& select {
		outline: none;
	}


	& input:focus {
		outline: none;
	}

	&__btn-send {
		font-size: 2rem;
		padding: 1rem 2rem;
		border-radius: 3px;
		border: $border-gray;
		color: $color-gray;
		align-self: center;
		cursor: pointer;
		margin-top: 1.5rem;
		transition: all 0.2s;
	}

	&__btn-send:hover {
		border: $border-darkest;
		color: #fff;
		background-color: $color-darkest;
	}

	&__btn-close {
		position: absolute;
		top: 2rem;
		right: 2rem;
		border: none;
		font-size: 2rem;
		cursor: pointer;
		color: $color-gray;
		transition: all 0.2s;
	}

	&__btn-close:hover {
		color: $color-darkest;
	}
}