.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
  border-radius: 3px;
  padding: 4rem 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2500;
}
.modal__validation {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c30b0b;
}
.modal__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal__visit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__divided-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal__dividedleft-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
}
.modal__dividedright-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modal label {
  color: #a8a5a5;
  margin-bottom: 0.5rem;
}
.modal__password-label, .modal__email-label {
  align-self: flex-start;
}
.modal textarea, .modal input, .modal select {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0;
  padding: 0.4rem 0.5rem;
  width: 250px;
  border: 1px solid #a8a5a5;
}
.modal__bloodpressure-input, .modal__age-input, .modal__BMI-input {
  text-align: center;
}
.modal select {
  text-align: center;
  color: #000;
}
.modal textarea {
  resize: none;
}
.modal input::-moz-placeholder {
  color: #a8a5a5;
}
.modal input:-ms-input-placeholder {
  color: #a8a5a5;
}
.modal input::placeholder {
  color: #a8a5a5;
}
.modal textarea, .modal select {
  outline: none;
}
.modal__heartdiseases-textarea {
  border: 1px solid #71C9CE;
}
.modal input:focus {
  outline: none;
  border: 1px solid #71C9CE;
}
.modal input:focus:invalid {
  outline: none;
  border: 1px solid #c30b0b;
}
.modal__btn-send {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: 1px solid #a8a5a5;
  color: #a8a5a5;
  align-self: center;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 0.2s;
}
.modal__btn-enter {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #a8a5a5;
  color: #a8a5a5;
  width: 50%;
  align-self: center;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 0.2s;
}
.modal__btn-send:hover, .modal__btn-enter:hover {
  border: 1px solid #71C9CE;
  color: #fff;
  background-color: #71C9CE;
}
.modal__btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #a8a5a5;
  transition: all 0.2s;
}
.modal__btn-close:hover {
  color: #71C9CE;
}

.card-copy {
  position: absolute;
  visibility: hidden;
  display: none;
  height: 18.813rem;
  padding: 3rem;
  font-size: 1.6rem;
  border-radius: 3px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.card {
  display: flex;
  position: relative;
  padding: 3rem;
  font-size: 1.6rem;
  box-shadow: 0 0 5px #000;
  border-radius: 3px;
  flex-direction: column;
  background-color: #fff;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.card--over {
  border: 3px dotted #71C9CE;
}
.card__showMoreBtn {
  margin: 5px 0;
  border-radius: 3px;
  border: 1px solid #71C9CE;
  background-color: #A6E3E9;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  width: 15rem;
}
.card__editBtn, .card__deleteBtn {
  position: absolute;
  top: 1rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.card__editBtn:hover, .card__deleteBtn:hover {
  color: #71C9CE;
}
.card__editBtn {
  right: 3rem;
}
.card__deleteBtn {
  right: 1rem;
}
.card__hidden {
  display: none;
}

.edit-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}

.edit-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.edit {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
  border-radius: 3px;
  padding: 4rem 10rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2500;
}
.edit__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.edit__divided-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.edit__dividedleft-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 2rem;
}
.edit__dividedright-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.edit label {
  color: #a8a5a5;
  margin-bottom: 0.5rem;
}
.edit textarea, .edit input, .edit select {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  border-radius: 0;
  padding: 0.4rem 0.5rem;
  width: 250px;
  border: 1px solid #a8a5a5;
}
.edit__bloodpressure-input, .edit__age-input, .edit__BMI-input {
  text-align: center;
}
.edit select {
  text-align: center;
  color: #000;
}
.edit textarea {
  resize: none;
}
.edit textarea, .edit select {
  outline: none;
}
.edit input:focus {
  outline: none;
}
.edit__btn-send {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 3px;
  border: 1px solid #a8a5a5;
  color: #a8a5a5;
  align-self: center;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 0.2s;
}
.edit__btn-send:hover {
  border: 1px solid #71C9CE;
  color: #fff;
  background-color: #71C9CE;
}
.edit__btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #a8a5a5;
  transition: all 0.2s;
}
.edit__btn-close:hover {
  color: #71C9CE;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #000;
}

.wrapper {
  display: grid;
  grid-template-rows: 8rem minmax(calc(100vh - 13rem), 1fr) 5rem;
  grid-template-columns: [filter-start] 25rem [filter-end content-start] 1fr [content-end];
}

.header {
  grid-column: 1/-1;
  background-color: #CBF1F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin: 1rem 0 1rem 5rem;
  display: flex;
  align-items: center;
}
.header__text-logo {
  font-size: 3rem;
  margin-left: 1rem;
}
.header__text-logo span {
  color: #71C9CE;
}
.header__img-logo {
  width: auto;
  height: 6rem;
}
.header__btn {
  margin-right: 5rem;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: 2px solid #71C9CE;
  border-radius: 3px;
  background-color: #A6E3E9;
  transition: all 0.2s;
}
.header__btn:hover {
  background-color: #71C9CE;
}

.filters {
  grid-column: filter-start/filter-end;
  background-color: #A6E3E9;
  border-right: 3px solid #71C9CE;
  padding: 3rem 1rem;
  text-transform: uppercase;
}
.filters__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filters div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.filters div:not(:last-child) {
  margin-bottom: 2rem;
}
.filters label {
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.filters input {
  width: 80%;
  height: 2.5rem;
}
.filters select {
  width: 80%;
  text-align: center;
  height: 2.5rem;
}
.filters input:focus, .filters select:focus {
  outline: none;
}

.cards {
  grid-column: content-start/content-end;
  background-color: #A6E3E9;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding: 1rem;
}
.cards__no-items {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  grid-column: 1/-1;
  background-color: #71C9CE;
  color: #fff;
  position: relative;
}
.footer__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */