@import url(reset.css);

:root {
  --color1: #434343;
  --color2: #ffffff;
  --color3: #3cb878;
  --color9: #848484;
  /* !for text hover */
  --color4: #01813f;
  /* ! fon button */
  --color5: #305db8;
  --color6: #df4a32;
  /* ! for button hover */
  --color7: #022263;
  --color8: #ab1f09;
  /* ! for or and line */
  --color9: #848484;
  --color10: #f2f2f2;
  /* ! placeholder */
  --color11: #bebebe;
}

.wrapper {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  font-size: 14px;
  line-height: 14px;
  background-image: url(../image/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header:hover {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.41;
}

.logo a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  padding: 18px 0 18px 79px;
  transition: 0.6s;
}

.logo a:hover {
  color: var(--color4);
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  margin: 0 27px 0 0;
}
.icons svg {
  fill: var(--color2);
  transition: 0.6s;
}

.line {
  margin: 0 26px 0 0;
}

.calendar:hover,
.compass:hover,
.mail:hover {
  fill: var(--color4);
}

.registration-link {
  display: inline-block;
}

.registration-link p {
  color: var(--color2);
  margin: 0 79px 0 0;
}

.registration-link a {
  margin: 0;
  text-decoration: none;
  color: var(--color2);
  transition: 0.6s;
}

.registration-link a:hover {
  color: var(--color4);
}

.form {
  min-height: 100vh;
  position: relative;
}

.form-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0 auto; */
  background-color: var(--color2);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.forme-title {
  display: inline-block;
  font-size: 20px;
  color: var(--color1);
  margin: 31px 216px 32px 0;
}

.forme-title::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--color3);
  margin: 0 43px -3px 0;
  display: inline-block;
}

.form-subtitle {
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  color: var(--color3);
  margin: 0 60px 0 0;
}

.form-subtitle:hover {
  text-decoration: underline;
  color: var(--color4);
}

.btn {
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.btn__facebook,
.btn__google {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: var(--color2);
  border-radius: 4px;
}

.btn__facebook {
  background-color: var(--color5);
  margin: 0 0 0 60px;
}

.btn__facebook:hover {
  background-color: var(--color7);
}

.icon-facebook {
  margin: 12px 19px 12px 17px;
}

.btn__facebook span {
  display: inline-flex;
  align-items: center;
  padding: 0 22px 0 0;
}

.btn__facebook span::before {
  display: inline-block;
  padding: 0 18px 0 0;
  content: url(../image/icons/Rectangle.png);
}

.btn__google {
  background-color: var(--color6);
  margin: 0 60px 0 0;
}

.btn__google:hover {
  background-color: var(--color8);
}

.icon-google {
  margin: 15px 7px 15px 12px;
}

.btn__google span {
  display: inline-flex;
  align-items: center;
  padding: 0 22px 0 0;
}

.btn__google span::before {
  display: inline-block;
  padding: 0 30px 0 0;
  content: url(../image/icons/Rectangle.png);
}

.or {
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--color9);
  margin: 0 0 12px 0;
}

.or p {
  background-color: var(--color2);
  padding: 0 5px;
  z-index: 1;
}

.or::before {
  content: "";
  display: block;
  width: 75%;
  height: 1px;
  background-color: var(--color9);
  position: absolute;
  top: 60%;
}

input::placeholder {
  color: var(--color11);
  padding: 0 0 0 20px;
}

.data-user {
  width: 324px;
  height: 44px;
  margin: 15px 60px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
}

.data-user:focus {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.lable {
  margin: 0 0 36px 60px;
}

.checkbox {
  display: none;
}

.checkbox-item {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
}

.checkbox-item::before {
  content: url(../image/icons/Vector.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 14px;
  height: 14px;
  opacity: 0;
  transition: 1s;
}

.checkbox:checked + .checkbox-item::before {
  opacity: 1;
}

.lable a {
  color: var(--color3);
  text-decoration: none;
}

.lable a:hover {
  color: #01813f;
  text-decoration: underline;
}

.create-account {
  margin: 0 60px 38px 60px;
}

.create-account a {
  text-decoration: none;
  font-size: 16px;
  line-height: 16px;
  color: var(--color2);
  padding: 16px 99px;
  background-color: var(--color3);
  border-radius: 4px;
}

.create-account a:hover {
  background-color: var(--color4);
}
